{% if messages %}
  {% for message in messages %}
  <div>

    <div id="message" style="width: 100%;" class="container">
      <div  style="width:100%; height:fit-content" class="alert alert-{{ message.tags }} alert-dismissable text-center" role="alert">
        
        <strong style="margin-right: auto;">
            <!-- {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              Error : 
            {% else %}
              {{ message.tags|title }}
            {% endif %}           -->
          </strong>
          {{ message }}

        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
        
      </div>
    </div>
     </div>

  {% endfor %}
  {% else %}
  

{% endif %}

