{% load static %} {% load hosts %}

<nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search" style="background: rgb(16,25,40);">
    <div class="container">
        <a class="navbar-brand" href="{% host_url 'index' host 'www' %}">
            <img src="{% static 'img/coden_logo.png' %}" alt="coden live logo" style="width: 42px!important;">&nbsp;Coden Live</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" style="font-weight: bolder;" href="{% host_url 'courses' host 'www' %}">Courses</a></li>

                <!-- <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Dropdown </a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li> -->
                <li class="nav-item"><a class="nav-link" style="font-weight: bolder;" href="{% host_url 'compiler' host 'www' %}">Compiler</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-weight: bolder;" href="#">Get Demo</a></li>

            </ul>
            <div class="me-auto">
                <div style="width: 300px !important;">
                    <div class="gcse-search"> </div>

                </div>


            </div>

            {% if user.is_authenticated %}

            <span class="navbar-text"><a class="login">{{ user.first_name }} {{ user.last_name }}</a></span>

            <a class="btn btn-light action-button" role="button" href="{% host_url 'logout' host 'www' %}"> Logout</a> {% else %}
            <span class="navbar-text"><a class="login" href="{% host_url 'login' host 'www' %}">Login</a></span>

            <a class="btn btn-light action-button" role="button" href="{% host_url 'register' host 'www' %}">Sign Up</a> {% endif %}
        </div>
    </div>
</nav>