{% extends 'base.html' %} {% block content %}

<div class="container p-5">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3">
    </div>

    <div class="col-auto">
        <button id="frm" class="btn btn-primary mb-3">Confirm identity</button>
    </div>
</div>

{% endblock content %}