body{
    background: url('../img/—Pngtree—texture\ geometric\ black\ background_930090.jpg');
    overflow-x: hidden !important;
    width: 100%;
}
#login_bg{
    background: url('../img/coden_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    
}

.alert{
    width: 100%;
}

html,body {
    overflow-x: hidden !important;
}




 /* .slide-content .scroller {
  width: 1024px;
}
 *{
    outline: 1px solid #f00 !important;
  }  */



  .btn-user{font-size:.8rem;border-radius:10rem;padding:.75rem 1rem}

  .form-control-user{font-size:.8rem;border-radius:10rem;padding:1rem}


 

 .setcard{

    min-height: 6rem;
    max-height: 8rem;

 }



 .course-info {
    background: #184e8e;
    opacity: 0.8;
    padding: 10px 15px;
    margin-bottom: 15px;
  }
  
.course-info h5 {
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .course-details .course-info p {
    margin: 0;
    font-size: 18px;

    font-weight: 500;
  }
  
  .course-info a {
    color: white;
  }
  
  .course-des{
      background-color: #184e8e;
      padding: 0.5%;
      border-radius: 10px;
      opacity: 0.8;
      min-height: 220px;
     
  }

  .img-fluid{
    width: 450px;
  }
  @media only screen and (min-width: 780px) and (max-width:1020px) {
    .img-fluid{
      width: 500px
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .img-fluid{
      width: 100%
    }
  }
  
 .course-header{
     height: 40vw;
 }