body{
    background: url('../img/—Pngtree—texture\ geometric\ black\ background_930090.jpg');
    overflow-x: hidden !important;
    width: 100%;
}
#login_bg{
    background: url('../img/coden_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    
}

.alert{
    width: 100%;
}

html,body {
    overflow-x: hidden !important;
}




 /* .slide-content .scroller {
  width: 1024px;
}
 *{
    outline: 1px solid #f00 !important;
  }  */

