body{
  background-color: #1C2541;

        overflow-x: hidden !important;
  width: 100%;
}
#login_bg{
  background: url('../img/coden_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  
}

.alert{
  width: 100%;
}

html,body {
  overflow-x: hidden !important;
}




/* .slide-content .scroller {
width: 1024px;
}
*{
  outline: 1px solid #f00 !important;
}  */



.btn-user{font-size:.8rem;border-radius:10rem;padding:.75rem 1rem}

.form-control-user{font-size:.8rem;border-radius:10rem;padding:1rem}







.course-info {
  background: #3A506B;
  opacity: 0.8;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.course-info h5 {
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.course-details .course-info p {
  margin: 0;
  font-size: 18px;

  font-weight: 500;
}

.course-info a {
  color: white;
}

.course-des{
    background-color: #3A506B;
    font-size: 18px;
    padding: 0.5%;
    border-radius: 10px;
    opacity: 0.8;
    min-height: 220px;
   
}

.img-course{
  width: 200px;
}


.accordion-item{
  background-color: transparent;
  margin-bottom: 3%;
}
.accordion-button{
  color:  white !important;
  background: transparent !important;
  border: 2px solid rgba(23,187,158,0.69);
  border-top: none;
  border-left: none;
  border-right: none;
}
.accordion-button:focus {
  box-shadow: none;
  color:  white !important;
  background: transparent !important;
  border: 3px solid rgba(23,187,158,0.69);
  border-left: none;
  border-right: none;
  border-top: none;}
.accordion-body{
  color: white;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}



@media only screen and (min-width: 780px) and (max-width:1020px) {
  .img-course{
    width: 500px
  }
}

@media only screen and (min-width: 1024px) {
  .img-course{
    width: 80%
  }
}



.main-card-text{

  min-height: 50px;
}



.main-card-icon{
font-size: 91px;color: rgba(23,187,158,0.69);
}


.main-card-title{
  margin-top: 15px;margin-bottom: 15px;
}


.main-prom-text{

font-size: 18px;

}

.main-icon-prom{
margin-right: 14px;font-size: 25px;
color: rgba(23,187,158,0.69);
}

.main-prom-col-text{
font-size: 25px;
}


.course-card-title{
height: 2.8rem;
}

.setcard{

min-height: 6rem;
max-height: 6rem;

}




@media only screen and (min-width: 500px) and (max-width:790px) {

  .main-card-text{

    min-height: 80px;
    font-size: 15px;

  }
  .setcard{

    min-height: 7rem;
    max-height: 7rem;
  
  }
  

}



@media only screen and (min-width: 992px) {
.setcard{

  min-height: 8rem;
  max-height: 8rem;

}
.description-team{
  min-height: 90px;
}

}
@media only screen and (min-width: 1300px) {

  .main-card-text{

    min-height: 60px;
    font-size: 20px;
    
  }


  .setcard{

    min-height: 8rem;
    max-height: 8rem;
  
  }
  .main-card-icon{
  font-size: 111px;color: rgba(23,187,158,0.69);
  }


  .main-card-title{
    font-size: 40px;
    margin-top: 15px;margin-bottom: 15px;
  }

  .main-prom-text{

    font-size: 26px;
    
    }

    .main-icon-prom{
      margin-right: 14px;font-size: 35px;
      color: rgba(0,224,187);
    }
    
    .main-prom-col-text{
      font-size: 35px;
  
    }
  

}




svg {
display: block;
margin: 0 auto;
overflow: visible !important;
}
svg #robot_1_ {
animation-name: verticalAnimation;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
}
svg #light_1_ {
animation-name: blinkLight;
animation-duration: 0.5s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: steps(2);
}
svg #leftEye_1_, svg #rightEye_1_ {
animation-name: blinkEye;
animation-duration: 1.8s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
transform-origin: 50% 50%;
}
svg #leftArm_1_ {
animation-name: moveLeftArm;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
transform-origin: 50% 10%;
transition: all;
}
svg #rightArm_1_ {
animation-name: moveRightArm;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
transform-origin: 50% 10%;
}
svg #shadow_1_ {
animation-name: shadowAnimation;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
transform-origin: 50%;
}

@keyframes wave {
0% {
  transform: rotate(120deg);
}
100% {
  transform: rotate(170deg);
}
}
@keyframes moveLeftArm {
0% {
  transform: rotate(0);
}
100% {
  transform: rotate(4deg);
}
}
@keyframes moveRightArm {
0% {
  transform: rotate(0);
}
100% {
  transform: rotate(-4deg);
}
}
@keyframes shadowAnimation {
0% {
  transform: scale(1);
  opacity: 0.4;
}
100% {
  transform: scale(1.15);
  opacity: 0.6;
}
}
@keyframes verticalAnimation {
0% {
  transform: translateY(-10px);
}
100% {
  transform: translateY(10px);
}
}
@keyframes blinkLight {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
@keyframes blinkEye {
0% {
  transform: scaleY(0);
}
4% {
  transform: scaleY(1);
}
}

.error{


  background: rgb(16,25,40)!important;
  padding-bottom: 3%;

}




@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  color: #fff;
  float: left;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .25s;
  transition: .25s
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative
}

.snip1527 figcaption {
  padding: 25px 20px;
  font-family: 'Sen' , sans-serif;
  position: absolute;
   /* max-height: 20vh; */
  bottom: 0;
  z-index: 1
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  
  left: 0;
  right: 0;
  background: #700877;
  /* background: linear-gradient(118.69deg, #272529 39.25%, rgba(98, 94, 102, 0.697917) 88.54%, rgba(251, 247, 255, 0) 99.62%); */

  content: '';
  background: -moz-linear-gradient(90deg, #700877 0, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0, #ff2759 100%, #ff2759 100%);
  opacity: .5;
  z-index: -1
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px
}

.snip1527 .date span {
  display: block;
  line-height: 14px
}

.snip1527 .date .month {
  font-size: 11px
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -.4px;
  margin-bottom: 5px
}

.snip1527 p {
  font-size: .8em;
  line-height: 1.6em;
  margin-bottom: 0
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1
}

.snip1527.hover img,
.snip1527:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.wwb{
color:#fff;border:none ;border-bottom: 2px solid rgba(23,187,158,0.69);  
/* background:rgb(72,66,66);opacity: 0.90;color: var(--bs-light); */
background: #3A506B;
}
@media only screen and (min-width: 762px) {
  .wwb{
    color:#fff;border:none ;border-bottom: 2px solid rgba(23,187,158,0.69);  
    /* background:rgb(72,66,66);opacity: 0.90;color: var(--bs-light); */
    background: #3A506B;
    width: 45vw;
    }
}


/* text animation */

.welcome{

padding: 4%;
color: white;


}
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');





.features-text-css{
color: #fff;
min-height: 10vh;
font-family: 'Sen', sans-serif;
}

.features-row-card:nth-child(3){
border-right:2px solid #fff;
border-top: 2px solid #fff;
}
.features-row-card:nth-child(1) {
border-left:2px solid #fff;
border-top: 2px solid #fff;
}
.features-row-card:nth-child(2) 
{
border-right:2px solid #fff;
border-bottom:2px solid #fff;
}
.features-row-card:nth-child(4){
border-left:2px solid #fff;
border-bottom:2px solid #fff;
}
.list-features{
list-style-position: inside;
width: fit-content;
}
.ul-center{
display: flex;
justify-content: center;
}


.gsc-input{
background-color: transparent!important;
color: #fff!important;
padding: 0px!important;


}

.gsc-input-box{

background-color: transparent!important;

color: #fff!important;
padding: 0px!important;
border-radius: 20px!important;
margin-right: 20px!important;


}

.gsc-search-button-v2{
transform: scale(2)!important;
padding: 0px!important;
}
.main-card-background{
  background-color: transparent;
  border: 3px solid rgba(23,187,158,0.69);
  border-radius: 20px;
  
  
}

.main-bg-card{
  /* background-image: linear-gradient(315deg, #12100e 25%,#2b4162 50%, #12100e 74%); */

}







/* .job-card-big-shadow {
    max-width: 320px;
    position: relative;
}

.f-card {
    margin-top: 30px;
}

.f-card[data-radius="none"] {
    border-radius: 0px;
}
.f-card {
    border-radius: 8px;
    box-shadow: 10px 10px 10px #00000090;
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border: 2px solid rgba(0,224,187);
}


.f-card[data-background="image"] .title, .card[data-background="image"] .stats, .card[data-background="image"] .category, .card[data-background="image"] .description, .card[data-background="image"] .content, .card[data-background="image"] .card-footer, .card[data-background="image"] small, .card[data-background="image"] .content a, .card[data-background="color"] .title, .card[data-background="color"] .stats, .card[data-background="color"] .category, .card[data-background="color"] .description, .card[data-background="color"] .content, .card[data-background="color"] .card-footer, .card[data-background="color"] small, .card[data-background="color"] .content a {
    color: #FFFFFF;
}
.f-card.card-just-text .content {
    padding: 50px 65px;
    text-align: center;
}
.f-card .content {
    padding: 20px 20px 10px 20px;
}
.f-card[data-color="blue"] .category {
    color: #7a9e9f;
}

.f-card .category, .card .label {
    font-size: 14px;
    margin-bottom: 0px;
}

}
.f-title{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}
.f-category {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}
.f-card .description {
    font-size: 16px;
    color: #66615b;
}
.content-card{
    margin-top:30px; 
    display: flex;
    justify-content: center;   
}


/*======== COLORS ===========*/
.f-card[data-color="blue"] {
    background: #3A506B;
}


.f-card[data-color="blue2"] {
    background: #3A506B;
} */

.blue2{
  border-color: #3A506B;
}

.wwb-card{
  background-color: transparent;
  border:none;

}

.section-heading{
  font-size: 3rem;
  color:#30c9cd;
  font-family: 'Sen', sans-serif;
  text-align:center;
}

.section-divider{
  width:20vw;
  border: 2px solid #30c9cd;
  opacity: .8;
  text-align: center;
  border-radius: .5rem;
}