{% extends 'base.html' %}
{% load static %}

{% block title %}
Home | Coden Live
{% endblock title %}

{% block tags %}


<meta name="title" content="Coden Live 🦁💻| Learn Coding Online | Certificate Courses">
<meta name="description"
    content="Coden Live is an e - learning platform which offers wide variety of live courses to young learners. We provide flexible, affordable and job relevant online training.">
<meta name="keywords" content="coden live,codenlive, cerficate courses, online coding courses, learn coding Live.">
<meta name="author" content="Chetan Khanna, Arshdeep Singh, Maninder kaur">

{% endblock tags %}

{% block header %}

<div class="carousel slide flow" data-bs-ride="carousel" id="carousel-1">
    <div class="carousel-inner">
        <div class="carousel-item active"><img class="w-100 d-block" src="{% static 'img/sliderfinal.png' %}"
                alt="Slide Image"></div>
        <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/coden_slider_2.png' %}"
                alt="Slide Image"></div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
                class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
            class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span
                class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
    <ol class="carousel-indicators">
        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
    </ol>
</div>
{% endblock header %}
{% block content %}

{% include 'partials/alerts.html' %}
<div class=" container text-center flow" data-aos="flip-up" data-aos-duration="300" data-aos-delay="300"
    style="margin-top: 10%;margin-bottom: 5%;">
    <div class="row">
        ss
    </div>
    <div class="row text-center d-flex justify-content-around"
        style="color: rgb(255, 255, 255); margin-left:0;margin-right:0">

        <div class="col col-xs-12 col-md-5">
            <div class="card" data-bss-hover-animate="pulse"
                style="background: linear-gradient(-23deg, #3d3b3e 4%, transparent);margin-bottom: 15px;border-width: 0px;margin-top: 15px;">
                <div class="card-body text-center" style="color: rgba(237,245,244,0.69);border-radius: 132px;"><i
                        class="main-card-icon fas fa-book-reader"></i>
                    <h4 class="card-title main-card-title">Courses</h4>
                    <p class="card-text main-card-text">From basic to advanced. All courses
                        are available here</p>
                    <a href="{% url 'courses' %}">
                        <button class="btn btn-secondary" type="button"
                            style="background: rgba(23,187,158,0.69);border-radius: 80px;border-top-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;border-bottom-left-radius: 50px;padding: 13px;min-width: 182px;">Enroll
                            Now</button>

                    </a>
                </div>
            </div>
        </div>
        <div class="col col-xs-12 col-md-5">
            <div class="card" data-bss-hover-animate="pulse"
                style="background: linear-gradient(-23deg, #3d3b3e 4%, transparent);margin-bottom: 15px;border-width: 0px;margin-top: 15px;">
                <div class="card-body text-center" style="color: rgba(237,245,244,0.69);border-radius: 132px;"><i
                        class="main-card-icon fas fa-laptop-code"></i>
                    <h4 class="card-title main-card-title">Compiler</h4>
                    <p class="card-text main-card-text">Compiler support for students testing their code</p>
                    <a href="{% url 'compiler' %}">
                        <button class="btn btn-secondary" type="button"
                            style="background: rgba(23,187,158,0.69);border-radius: 80px;border-top-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;border-bottom-left-radius: 50px;padding: 13px;min-width: 182px;">Code
                            Now</button>

                    </a>
                </div>
            </div>
        </div>

        <div class="col col-xs-12 col-md-5">
            <div class="card" data-bss-hover-animate="pulse"
                style="background: linear-gradient(-23deg, #3d3b3e 4%, transparent);margin-bottom: 15px;border-width: 0px;margin-top: 15px;">
                <div class="card-body text-center" style="color: rgba(237,245,244,0.69);border-radius: 132px;"><i
                        class="main-card-icon fas fa-blog"></i>
                    <h4 class="card-title main-card-title">Blogs</h4>
                    <p class="card-text main-card-text">Students can share their knowledge through our blogs</p>
                    <a href="{% url 'courses' %}">


                        <button class="btn btn-secondary" disabled type="button"
                            style="background: rgba(23,187,158,0.69);border-radius: 80px;border-top-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;border-bottom-left-radius: 50px;padding: 13px;min-width: 182px;">Coming
                            Soon</button>
                    </a>
                </div>
            </div>
        </div>


        <div class="col col-xs-12 col-md-5">
            <div class="card" data-bss-hover-animate="pulse"
                style="background: linear-gradient(-23deg, #3d3b3e 4%, transparent);margin-bottom: 15px;border-width: 0px;margin-top: 15px;">
                <div class="card-body text-center" style="color: rgba(237,245,244,0.69);border-radius: 132px;"><i
                        class="main-card-icon fas fa-chalkboard-teacher"></i>
                    <h4 class="card-title main-card-title">Q n A</h4>
                    <p class="card-text main-card-text">24/7 doubt solving  with professional TAs</p>

                    <a {% if user.is_authenticated %} href="mailto:livecoden@gmail.com" {% else %}
                        href="{% url 'login' %}" {% endif %}>

                        <button class="btn btn-secondary" type="button"
                            style="background: rgba(23,187,158,0.69);border-radius: 80px;border-top-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;border-bottom-left-radius: 50px;padding: 13px;min-width: 182px;">Solve
                            Now</button>
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="row d-flex justify-content-center align-items-center align-content-center align-self-center flow"
    data-aos="flip-up" data-aos-duration="300" data-aos-delay="300"
    style="background: rgb(72,66,66);opacity: 0.70;margin-bottom: 5%;padding-right: 5%;padding-left: 5%;padding-bottom: 3%;padding-top: 3%;">
    <div class=" col-sm-12 col-12" style="transform: perspective(590px);">
        <h1 style="color: rgb(255,255,255);margin-bottom: 2%;">Promoting Coding Culture</h1>
        <div class="row">
            <div class="col">
                <p class="main-prom-text">Still thinking how to code? Or wanna learn secret SEO techniques and create
                    bots. We got you covered. Coden brings you amazing courses so that you don't need to hold your
                    creativity.<br></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="main-prom-text">Not only this, we have created compilers and blogs so that you don't have to
                    be messing around and work straight.<br></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="main-prom-text">With coden you get a one stop platform for all your needs. A platform
                    created by young developers for upcoming developers.<br></p>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="color: var(--bs-pink);flex-direction:column">
        <div class="row gy-6   cont" >
            <div class="col col-12   cont" style="margin-top: 8%;">

                <i class="fas main-icon-prom fa-code d-inline-block"
                    ></i>
                <p class="d-inline-block main-prom-col-text">Promoting Coding Culture</p>


            </div>
        </div>
        <div class="row gy-6 ">
            <div class="col col-12 cont " style="margin-top: 8%;"
            ><i class="fas main-icon-prom fa-video d-inline-block"
                   ></i>
                <p class="d-inline-block main-prom-col-text">Regular Webinars</p>
            </div>
        </div>
        <div class="row gy-6">
            <div class="col col-12 cont" style="margin-top: 8%;">
                <i class="fas main-icon-prom fa-check d-inline-block"
                ></i>
                <p class="d-inline-block main-prom-col-text">Learning from Basics</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-start">
        <div class="row gy-6">
            <div class="col col-12 cont" style="margin-top: 8%;">
                <i class="fas main-icon-prom fa-chalkboard-teacher d-inline-block"
                    ></i>
                <p class="d-inline-block main-prom-col-text" >Instant Doubt Solving</p>
            </div>
        </div>
        <div class="row gy-6">
            <div class="col col-12 cont" style="margin-top: 8%;">
                <i class="fas main-icon-prom fa-file-code d-inline-block"
                  ></i>
                <p class="d-inline-block main-prom-col-text" >Compiler Support</p>
            </div>
        </div>
        <div class="row gy-6">
            <div class="col col-12 cont" style="margin-top: 8%;">
                <i class="fas fa-user-check main-icon-prom d-inline-block"
                   ></i>
                <p class="d-inline-block main-prom-col-text">Best in Class Mentors</p>
            </div>
        </div>
    </div>
</div>

<section data-aos="flip-up" data-aos-duration="300" data-aos-delay="300" class="team-boxed flow"
    style="background: rgb(72,66,66);opacity: 0.90;color: var(--bs-light);">
    <div class="container" style="text-align: center;">
        <div class="intro">
            <h2 class="text-center">Team </h2>
            <p class="text-center"></p>
        </div>
        <div class="row text-center d-flex flex-row justify-content-center align-items-center align-content-center align-self-center people"
            style="text-align: center;">
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="{% static 'img/Coden_trio.jpg' %}">
                    <h3 class="name" style="color: #2a1f1f;">Arshdeep Singh</h3>
                    <p class="title">Co-founder</p>
                    <p class="description">Digital Marketer/Researcher, with an aim of building and implementing
                        strategies focused on SEO.<br></p>
                    <div class="social"><a href="#"><i class="fas fa-envelope"></i></a><a href="#"><i
                                class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-github"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="{% static 'img/profile1.jpg' %}"
                        style="text-align: justify;margin-right: 0;height: 160px;width: 150px;">
                    <h3 class="name" style="color: #2a1f1f;">Maninder Kaur</h3>
                    <p class="title"><strong>CO-FOUNDER</strong></p>
                    <p class="description">Dedicated and efficient full stack developer with a passion of developing
                        scalable web applications</p>
                    <div class="social"><a href="#"><i class="fas fa-envelope"></i></a><a href="#"><i
                                class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-github"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="{% static 'img/chetan.png' %}"
                        style="transform: scaleX(-1);">
                    <h3 class="name" style="color: #2a1f1f;">Chetan Khanna</h3>
                    <p class="title"><strong>CO-FOUNDER</strong></p>
                    <p class="description">Proficient software developer and a competitive programmer with a passion for
                        beating former "best yets".<br></p>
                    <div class="social"><a href="#"><i class="fas fa-envelope"></i></a><a href="#"><i
                                class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="carousel slide flow" data-bs-ride="carousel" data-bs-interval="10000" data-aos="flip-up"
    data-aos-duration="300" data-aos-delay="300" data-aos-once="true" id="carousel-t"
    style="background: rgb(72,66,66);margin-top: 5%;opacity: 0.70;">
    <div class="carousel-inner" style="border-color: rgb(255,255,255);">
        <div class="carousel-item active">
            <div class="col-9 offset-xl-1 text-center mx-auto testimonial-content"><img class="rounded-circle"
                    src="{% static 'img/17-SM895462.jpg' %}" width="100" style="height: 100px;width: 100px;">
                <p class="text-center rating">5&nbsp;<i class="fa fa-star"></i></p>
                <p class="text-center" style="padding-right: 3%;padding-left: 3%;">I enrolled in Web Development using
                    ReactJs course in this lockdown. It was ‘fantastic’ , the learning curve increased exponentially.
                    The instructor explained the concepts beautifully and cleared all the doubts within 24 hours&nbsp;
                </p>
                <p class="signature">Rohan Singh</p>
                <p class="text-center date">April 12, 2021<br></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-9 text-center mx-auto testimonial-content"><img class="rounded-circle"
                    src="{% static 'img/Untitled1.png' %}" width="100">
                <p class="text-center rating">5&nbsp;<i class="fa fa-star"></i></p>
                <p class="text-center">My pandemic turned out to be really well with Coden Live. Highly recommended to
                    all those students looking for hands on experience of live classes. Mentors are really helpful and
                    insightful<br></p>
                <p class="signature">Khushboo Tiwari</p>
                <p class="text-center date">Jan 16, 2021<br></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-9 offset-xl-1 text-center mx-auto testimonial-content"><img class="rounded-circle"
                    src="{% static 'img/Untitled.png' %}" width="100">
                <p class="text-center rating">5&nbsp;<i class="fa fa-star"></i></p>
                <p class="text-center">Coden Live was an amazing experience for me. I belong to the maths department and
                    had a little experience in coding but I think it has allowed me to think things through in a much
                    more analytical manner.&nbsp;<br></p>
                <p class="signature">Sameer Jamal</p>
                <p class="text-center date">April 21, 2021<br></p>
            </div>
        </div>
    </div>
    <div style="background: transparent;"><a class="carousel-control-prev" href="#carousel-t" role="button"
            data-bs-slide="prev" style="background: rgb(72,66,66);opacity: 0.70;"><span
                class="carousel-control-prev-icon" style="opacity: 0.70;"></span><span
                class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-t"
            role="button" data-bs-slide="next" style="background: rgb(72,66,66);opacity: 0.70;"><span
                class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
    <ol class="carousel-indicators" style="background: rgb(72,66,66);opacity: 0.70;">
        <li data-bs-target="#carousel-t" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carousel-t" data-bs-slide-to="1"></li>
        <li data-bs-target="#carousel-t" data-bs-slide-to="2"></li>
    </ol>
</div>

<div class="row d-flex flex-column flow" data-aos="flip-down" data-aos-duration="300" data-aos-delay="300"
    style="background: transparent;opacity: 0.90;margin-right: 0px;padding-right: 2%;padding-left: 2%;margin-left: 0px;padding-top: 2%;margin-bottom: 5%;">
    <div class="col">
        <h1 style="color: var(--bs-white);text-align: left;margin-left: 2%;margin-bottom: 2%;">Frequently Asked Question
        </h1>
    </div>
    <div class="col">
        <div class="accordion" role="tablist" id="accordion-1" style="text-align: left;opacity: 0.70;">

            <div class="accordion-item" style="margin: 0;margin-bottom: 4%;background: transparent;">
                <h2 class="accordion-header" role="tab"
                    style="background: rgb(186,169,169);opacity: 1;color: var(--bs-pink);"><button
                        class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1"
                        aria-expanded="true" aria-controls="accordion-1 .item-1"
                        style="opacity: 1;color: white;background: rgb(56,61,67);">
                        <strong>What is coden live?
                        </strong><br></button></h2>
                <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <p>
                            Coden Live is an e - learning platform which offers wide variety of online live courses to
                            young learners. It also offers online Coding compiler and QnA portal so that you need not to
                            worry about anything, it’s a one stop solution portal for all programming geeks out there.
                            We make sure that our students should get best learning experience that’s why we provide
                            flexible, affordable and job relevant online training to young individuals.

                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item" style="margin: 0;margin-bottom: 4%;background: transparent;">
                <h2 class="accordion-header" role="tab"
                    style="background: rgb(186,169,169);opacity: 1;color: var(--bs-pink);"><button
                        class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2"
                        aria-expanded="true" aria-controls="accordion-1 .item-2"
                        style="opacity: 1;color: white;background: rgb(56,61,67);"><strong>What is a live course?
                        </strong><br></button>
                </h2>
                <div class="accordion-collapse collapse show item-2" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <p>
                            We at Coden live focus on this concept of live courses, where our mentors will interact with
                            the students throughout the course for their deeper understanding. All interactive courses
                            includes regular assignments on multiple modules, hands on experience on live projects. </p>
                    </div>
                </div>
            </div>




            <div class="accordion-item" style="margin: 0;margin-bottom: 4%;background: transparent;">
                <h2 class="accordion-header" role="tab"
                    style="background: rgb(186,169,169);opacity: 1;color: var(--bs-pink);"><button
                        class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3"
                        aria-expanded="true" aria-controls="accordion-1 .item-3"
                        style="opacity: 1;color: white;background: rgb(56,61,67);"><strong>What’s the average batch size
                            of live courses at coden live?

                        </strong><br></button>
                </h2>
                <div class="accordion-collapse collapse show item-3" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <p>
                            For better understanding and personal interaction with students, we at Coden live maintain
                            1:5 mentor to student ratio.
                    </div>
                </div>
            </div>




            <div class="accordion-item" style="margin: 0;margin-bottom: 4%;background: transparent;">
                <h2 class="accordion-header" role="tab"
                    style="background: rgb(186,169,169);opacity: 1;color: var(--bs-pink);"><button
                        class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4"
                        aria-expanded="true" aria-controls="accordion-1 .item-4"
                        style="opacity: 1;color: white;background: rgb(56,61,67);"><strong>What is the duration of
                            courses at coden live?


                        </strong><br></button>
                </h2>
                <div class="accordion-collapse collapse show item-4" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <p>
                            It totally depends upon course to course but generally the average duration of all live
                            courses at coden live is of 2 months.
                        </p>
                    </div>
                </div>
            </div>


            <div class="accordion-item" style="margin: 0;margin-bottom: 4%;background: transparent;">
                <h2 class="accordion-header" role="tab"
                    style="background: rgb(186,169,169);opacity: 1;color: var(--bs-pink);"><button
                        class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-5"
                        aria-expanded="true" aria-controls="accordion-1 .item-5"
                        style="opacity: 1;color: white;background: rgb(56,61,67);"><strong>What is the duration of each
                            class?

                        </strong><br></button>
                </h2>
                <div class="accordion-collapse collapse show item-5" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <p>
                            Duration of each class would be 1hr, it can stretch up to 1.5hr at max.

                        </p>
                    </div>
                </div>
            </div>


            <div class="accordion-item" style="margin: 0;margin-bottom: 4%;background: transparent;">
                <h2 class="accordion-header" role="tab"
                    style="background: rgb(186,169,169);opacity: 1;color: var(--bs-pink);"><button
                        class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-6"
                        aria-expanded="true" aria-controls="accordion-1 .item-6"
                        style="opacity: 1;color: white;background: rgb(56,61,67);"><strong>How to get a demo class?


                        </strong><br></button>
                </h2>
                <div class="accordion-collapse collapse show item-6" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <p>
                            You can fill up this form below to get your free demo class.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}