<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coden Live</title>

    <style>
        h4{
            padding:10px;
            border-left: 3px solid orange;
            font-size: 15px;
            width: fit-content;
            border-radius: 3px;
            background-color: #faebd7;
        }
    </style>
</head>

<body>
    <h3>Hi {{name}}</h3>
    <p>
        You have successfully enrolled yourself for the free demo class of 
        <b>{{course}}</b>.
        <br>
        For Date and Time slot of your demo class, you will receive another mail from coden live in next few hours. Till
        then stay tuned.
        <br>
        
        <h4>Note: Payment process will begin after you get free demo class</h4>
    </p>
    <ul style="list-style-type:none;padding-left: 0px">
        <li>Best regards,</li>
        <li>Coden Live</li>

    </ul>

    <ul style="list-style-type:none;padding-left: 0px;">  
        <li>for any queries contact us:</li>
        <li>Mail: support@coden.live</li>
        <li>WhatsApp: +91 98211 79620</li>
    </ul>
</body>

</html>